<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="inter-title">Resetar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="reset-content">
  <ion-card class="reset-card">
    <ion-card-content>
      <ion-item lines="none" class="email-input">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" placeholder="Digite seu e-mail"></ion-input>
      </ion-item>
      <ion-button shape="round" class="left-align">Enviar E-mail</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
