<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>

    <!-- Ícone de seta para o sítio anterior -->
    <ion-buttons  slot="start">
      <ion-button  (click)="anteriorQuinzena()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-label>{{this.Quinzena}}</ion-label>
    
     <!-- Ícone de seta para a próxima quinzena -->
     <ion-buttons slot="end">
      <ion-button (click)="proximaQuinzena()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<!-- Ícone de seta para o sítio anterior -->




<ion-content>

  
  
</ion-content>

