<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- sitios page -->
  <ion-row class=" ion-justify-content-center" *ngIf="this.guia=='Sitios'">
    <ion-col size="12">

        <ion-segment [(ngModel)]="sitioSelecionado">
          <ion-segment-button value="matao">Matao</ion-segment-button>
          <ion-segment-button value="vileiro">Vileiro</ion-segment-button>
          <ion-segment-button value="acacia">Acácia</ion-segment-button>
          <ion-segment-button value="primavera">Primavera</ion-segment-button>
          <ion-segment-button value="enxovia">Enxovia</ion-segment-button>
          <ion-segment-button value="sta-lucia">Santa Lúcia</ion-segment-button>
          <ion-segment-button value="bela-vista">Bela Vista</ion-segment-button>
          <ion-segment-button value="nsa">NSA</ion-segment-button>
        </ion-segment>  

 
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label>Quadra </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col size="4">
              <ion-item>
                <ion-label>Árvore 1</ion-label>
                <ion-input  type="number"></ion-input>
              </ion-item>
            </ion-col>
      
            <ion-col size="4">
              <ion-item>
                <ion-label>Árvore 2</ion-label>
                <ion-input  type="number"></ion-input>
              </ion-item>
            </ion-col>
      
            <ion-col size="4">
              <ion-item>
                <ion-label>Árvore 3</ion-label>
                <ion-input  type="number"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

      

    </ion-col>
  </ion-row>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</ion-content>