<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Resetar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Resetar Senha</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- Conteúdo da tela de resetar senha -->
  <ion-card class="reset-card">
    <ion-card-content>
      <ion-item>
        <ion-input
          label="E-mail"
          type="email"
          placeholder="Seu e-mail"
        ></ion-input>
      </ion-item>
      <ion-button
        expand="full"
        class="reset-button"
        mode="md"
        color="primary"
      >
        Enviar E-mail de Redefinição
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
