.quinzena-nome{
    text-align: center;
    font-size: 18px;
  }
.botao-dia{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: var(--ion-color-secondary) ;
}
  